Repository MeltStudio/melt-action-vercel: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .ts,tsx --max-warnings=0

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  745541535388e14f0d7ae8d8c873f6cc655f56f2
Due: none

feat: add project name inside GitHub comments
  dist/index.js
  dist/index.js.map
  src/vercel.ts
Due: prettier --write, eslint --ext .ts,tsx --max-warnings=0

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ad1502f0bdd54e2f39bd977ca57d7115131b39a3
Due: none

feat: upgrade runtime to node 20
  .github/workflows/_code_checks.yaml
  .github/workflows/_lint_commits.yaml
  .github/workflows/update-main-version.yml
  .nvmrc
  action.yml
  package.json
Due: prettier --write

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6c9c3dfa9dbb4e89b2c885b3fb7334e7d7e6949a
Due: none

feat: allow pull_request_review to run action when approved by reviewer
  dist/index.js
  dist/index.js.map
  src/github.ts
Due: prettier --write, eslint --ext .ts,tsx --max-warnings=0

chore(release): 3.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  06396d2611779cdd3f5edde8738885cb10259772
Due: none

fix: lint app files and restore prettier plugin in eslint config
  .lintstagedrc.json
  app/yarn.lock
  eslint.config.js
Due: prettier --write

fix: install app dependencies in CI for lint type resolution
  .github/workflows/_code_checks.yaml
Due: prettier --write

fix: upgrade next.js to 15.5.14 to resolve vercel vulnerability check
  app/package.json
  app/yarn.lock
Due: prettier --write

fix: replace semantic-release PAT with GITHUB_TOKEN
  .github/workflows/_sem_release.yaml
  .github/workflows/main.yaml
  .github/workflows/release.yaml
Due: prettier --write

fix: remove git push plugins from semantic-release
  .github/workflows/_sem_release.yaml
  .releaserc
Due: prettier --write

Notes added by 'git notes add'
  da56542398c37a65ac39ada0d55f929580af283a
Due: none

chore: update CLAUDE.md for v4
  CLAUDE.md
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,hbs,html,css,scss,json,graphql,yml,yaml,md}
  eslint --ext .ts,tsx --max-warnings=0: any of: **/*.{ts,tsx}
