Repository MeltStudio/melt-action-vercel: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .ts,tsx --max-warnings=0

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,hbs,html,css,scss,json,graphql,yml,yaml,md}": [
    "prettier --write"
  ],
  "**/*.{ts,tsx}": ["eslint --ext .ts,tsx --max-warnings=0"]
}

feat: add vercel CLI pull, build and deploy
  action.yml
  package.json
  src/github.ts
  src/index.ts
  src/vercel-client.ts
  src/vercel.ts
  yarn.lock
Due: prettier --write, eslint --ext .ts,tsx --max-warnings=0

build: add packaging using ncc
  .husky/pre-commit
  action.yml
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  dist/sourcemap-register.js
  package.json
  yarn.lock
Due: prettier --write

chore: add example nextjs app
  app/.eslintrc.json
  app/.gitignore
  app/README.md
  app/next.config.js
  app/package.json
  app/public/favicon.ico
  app/public/next.svg
  app/public/thirteen.svg
  app/public/vercel.svg
  app/src/app/globals.css
  app/src/app/head.tsx
  app/src/app/layout.tsx
  app/src/app/page.module.css
  app/src/app/page.tsx
  app/src/pages/api/hello.ts
  app/tsconfig.json
  app/vercel.json
  app/yarn.lock
Due: prettier --write, eslint --ext .ts,tsx --max-warnings=0

ci: add github workflows
  .eslintrc
  .github/workflows/_code_checks.yaml
  .github/workflows/_deploy_vercel.yaml
  .github/workflows/_lint_commits.yaml
  .github/workflows/_sem_release.yaml
  .github/workflows/main.yaml
  .github/workflows/prs.yaml
  .github/workflows/release.yaml
  .releaserc
  action.yml
  dist/index.js
  dist/index.js.map
  src/vercel-client.ts
Due: prettier --write, eslint --ext .ts,tsx --max-warnings=0

chore: add some logging
  .github/workflows/_deploy_vercel.yaml
  action.yml
  dist/index.js
  dist/index.js.map
  src/index.ts
  src/vercel-client.ts
  src/vercel.ts
Due: prettier --write, eslint --ext .ts,tsx --max-warnings=0

fix: use the correct baseURL for axios
  dist/index.js
  dist/index.js.map
  src/vercel-client.ts
Due: prettier --write, eslint --ext .ts,tsx --max-warnings=0

fix: replace / for - in git ref slug
  dist/index.js
  dist/index.js.map
  src/vercel.ts
Due: prettier --write, eslint --ext .ts,tsx --max-warnings=0

ci: fix semantic release variable name
  .github/workflows/main.yaml
Due: prettier --write

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  17efb7d17a95962587e7c2e6d023d15232859e7a
Due: none

chore: set node version in engines
  .nvmrc
  package.json
Due: prettier --write

ci: use the correct env var for project id
  .github/workflows/release.yaml
Due: prettier --write

feat: add github comments
  .github/workflows/_deploy_vercel.yaml
  .github/workflows/prs.yaml
  action.yml
  dist/index.js
  dist/index.js.map
  src/github-client.ts
  src/github.ts
  src/index.ts
  src/vercel-client.ts
  src/vercel.ts
Due: prettier --write, eslint --ext .ts,tsx --max-warnings=0

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  fcfd1ad5dc47cc9bfe11b6c8c6807f474b28278e
Due: none

ci: add workflow to update main versions
  .github/workflows/update-main-version.yml
Due: prettier --write

ci: add npm plugin for semantic release
  .releaserc
Due: none

fix: use the correct length when truncating ref name
  dist/index.js
  dist/index.js.map
  src/vercel.ts
Due: prettier --write, eslint --ext .ts,tsx --max-warnings=0

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8ddff9dcd1db2a434b0d7fddf3f3f287905106d4
Due: none

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  41c6d86b68c817b67d13d75acf8ff974f67b3e69
Due: none

fix: ignore comments on releases
  dist/index.js
  dist/index.js.map
  src/github.ts
Due: prettier --write, eslint --ext .ts,tsx --max-warnings=0

chore(release): 1.1.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  50f47c47be4e5ebd95a5a0104b76ac5c0a762701
Due: none

fix: remove duplicated logs for vercel cli
  dist/index.js
  dist/index.js.map
  src/github.ts
  src/vercel.ts
Due: prettier --write, eslint --ext .ts,tsx --max-warnings=0

chore(release): 1.1.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d858cb2b18267db5a5ab0b91f1d92a9c12981a33
Due: none

feat: add local-build input
  action.yml
  dist/index.js
  dist/index.js.map
  src/vercel.ts
Due: prettier --write, eslint --ext .ts,tsx --max-warnings=0

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  502f1b05b90574797d7d90757ee8f62b162af96a
Due: none

feat: set local-build to false by default
  .github/workflows/update-main-version.yml
  action.yml
Due: prettier --write
